*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F5E6D3;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: linear-gradient(to right, #3E2723, #6D4C41);
    color: white;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 200px;
}
.logo h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}
.nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}
.nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s ease;
}
.nav a:hover {
    color: #F5E6D3;
    transform: scale(1.1);
}
section {
    margin: 40px 20px;
    border-radius: 20px;
    overflow: hidden;
}
.hero {
    height: 90vh;   
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/hero.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contenedor-hero {
    color: white;
    max-width: 600px;
}
.hero h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}
.hero button {
    background-color: #6B8E23;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
.hero button:hover {
    background-color: #556B2F;
    transform: scale(1.1);
}
h2{
    font-family: 'Playfair Display', serif;
}
.contenedor-beneficios {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}
.beneficios {
    background: linear-gradient(to right, #E6D3B3, #D2B48C);
    text-align: center;
    padding: 50px 20px;
}
.tarjeta {
    background-color: #FFF8F0;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    transition: 0.3s;
    text-align: left;
}
.tarjeta h3 {
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
}
.tarjeta p {
    font-size: 15px;
}
.tarjeta:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}
.contenedor-principal {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap;
}
.Productos {
    background: linear-gradient(to right, #556B2F, #C2A878);
    color: #3E2723;
    text-align: center;
    padding: 60px 20px;
    border-radius: 20px;
}
.principal {
    background: linear-gradient(to right, #F5E6D3, #E0C9A6);
    text-align: center;
    padding: 60px 20px;
}
.producto {
    background-color: #FFF;
    border-radius: 12px;
    width: 280px;
    overflow: hidden;
    transition: 0.3s;
}
.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.producto h3 {
    margin: 15px;
    font-size: 20px;
    margin: 0 15px 20px;
    font-family: 'Playfair Display', serif;
}
.producto p {
    padding: 0 15px 20px;
    font-size: 15px;
    margin: 0 15px 20px;
}
.producto:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}
.producto img {
    transition: 0.3s;
}
.producto:hover img {
    transform: scale(1.1);
}
.cta {
    background: linear-gradient(to right, #6B8E23, #2E4A3F);
    color: #F5E6D3;
    margin: 40px 20px;
    border-radius: 20px;
}
.contenedor-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    text-align: center;
}
.cta h2 {
    font-size: 32px;
    margin-bottom: 25px;
    font-family: 'Playfair Display', serif;
}
.cta button {
    background-color: #F5E6D3;
    color: #2E4A3F;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.cta button:hover {
    background-color: #E0C9A6;
    transform: scale(1.1);
}
.cta button {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.contenedor-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex-wrap: wrap;
}
.footer {
    background: linear-gradient(to right, #2E4A3F, #3E2723);
    color: #F5E6D3;
    border-radius: 20px;
    margin: 40px 20px;
    padding: 30px;  
}
.info p {
    flex: 1 ;
}
.redes {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex: 1;
}
.redes a {
    text-decoration: none;
    color: #F5E6D3;
    font-weight: 500;
    transition: 0.3s;
}
.redes a:hover {
    color: #C2A878;
    transform: scale(1.1);
}
.contenedor-footer {
    text-align: center;
}
@media screen and (max-width: 700px) {
    .header {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    .nav ul {
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }
    .contenedor-hero {
        padding: 20px;
    }
    .hero h2 {
        font-size: 22px;
    }
    .hero p {
        font-size: 14px;
    }
    .contenedor-beneficios {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .tarjeta {
        width: 90%;
    }
    .contenedor-principal {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .producto {
        width: 90%;
    }
    .contenedor-cta h2 {
        font-size: 20px;
    }
    .contenedor-footer {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
}